[submodule "ansible-scripts/roles/community/ansible-role-certbot"]
	path = ansible-scripts/roles/community/ansible-role-certbot
	url = https://github.com/geerlingguy/ansible-role-certbot.git
[submodule "ansible-scripts/roles/community/ansible-role-nginx"]
	path = ansible-scripts/roles/community/ansible-role-nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
